# Environment variables
.env
*.env.local
*.env.*.local

# Compiled output
dist/

# Node modules
node_modules/

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE and editor directories
.idea/
.vscode/
*.swp
*.swo
*~
